<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redhill</title>
</head>
<body>
    <h1>Welcome to Redhill</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Definition</th>
        </tr>
        {% for w in words %}
            <tr>
                <td>{{ w.name }}</td>
                <td>{{ w.definition }}</td>
            </tr>
        {% endfor %}
    </table>
    <form name="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>